TELEGRAM_API_ID=
TELEGRAM_API_HASH=

REDDIT_CLIENT_ID= 
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=
REDDIT_USERNAME=
REDDIT_PASSWORD=

GEMINI_API_KEY=

DATABASE_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=